<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-dSHnLAesJH-604nRPIubeSFMNC75K40</string>
	<key>GCM_SENDER_ID</key>
	<string>522708852035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snss.ebs.kisanSewaKendra</string>
	<key>PROJECT_ID</key>
	<string>ebs-kisan-sewa</string>
	<key>STORAGE_BUCKET</key>
	<string>ebs-kisan-sewa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522708852035:ios:c51db5bd2e010a8bf123f6</string>
</dict>
</plist>
